.wrapper {
  background-image: url("fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

.title_container {
  border-radius: 8px 8px 0 0;
  background-color: var(--mantine-primary-color-9);
  padding: 16px;
}

.list {
  overflow-y: auto;
  max-height: 400px;
  border-top: 0px;
  border-radius: 0 0 8px 8px;
}

.list_item {
  position: relative;
  border-bottom: 1px solid var(--mantine-color-gray-2);
}

.list_item:last-child {
  border-bottom: none;
}

.list_item:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  border-radius: 0px 8px 8px 0px;
  background-color: var(--mantine-primary-color-filled);
}

.list_item:hover {
  background-color: var(--mantine-primary-color-0);
}

.link {
  padding: 12px 20px;
  display: block;
  height: 100%;
  width: 100%;
}
